{% set pageTitle = "Chats" %}
{% set hideFooter = True %}
{% extends "base.html" %}
{% from "macros/profile-overlay.html" import profile_overlay %}


{% block content %}

{# To be added back in once profile overlay is required
{% if not request.user.name %}
  {{ profile_overlay(csrf_token, request.user, True) }}
{% endif %}
#}

<div>
  <form id="chats-form" class="govuk-width-container rbds-width-container govuk-grid-row js-message-input" action="/submit" method="post">
    <div class="govuk-grid-column-one-quarter rbds-side-panel">
      <div class="rb-left-column-container">
        <a role="button"
          href="{{ urls.new_chat_url }}"
          id="new-chat-button"
          class="govuk-heading-s side-panel-heading side-panel-heading-button govuk-!-margin-bottom-4 govuk-!-margin-top-4">
          New chat
        </a>
        <div class="rbds-divider"></div>
        <h2 class="govuk-heading-s side-panel-heading govuk-!-margin-top-4">Recent chats</h2>
        {% include "side_panel/recent_chats_list.html" %}
        <div class="govuk-form-group govuk-!-margin-top-5" {% if not flag_is_active(request, flags.ENABLE_MODEL_SELECTOR) %}hidden{% endif %}>
          <div class="rbds-divider"></div>
          <label class="govuk-heading-s side-panel-heading govuk-!-margin-top-4" for="llm-selector">Model</label>
          <select id="llm-selector" name="llm" class="govuk-select rbds-min-width-0" {% if environment | lower == 'prod' %} disabled {% endif %}>
            {% for option in llm_options %}
              <option value="{{ option.id }}" {% if option.selected %}selected{% endif %}>{{ option.name }}{% if option.default %} (default){% endif %}</option>
            {% endfor %}
          </select>
        </div>
        {% include "side_panel/your_documents_list.html" %}
      </div>
    </div>
    {% include "chat/chat_window.html" %}
  </form>
  <exit-feedback class="exit-feedback" data-chatid="{{ current_chat.id }}" data-csrf="{{ csrf_token }}"></exit-feedback>
</div>

{# Templates #}
{% include "rbds/components/uploaded-files.html" %}
{% include "rbds/components/uploaded-file.html" %}

<script src="{{ static('js/libs/showdown.min.js') }}"></script>
<script type="module" src="{{ static('js/chats.js') }}"></script>
<script src="{{ static('js/libs/lottie.min.js') }}"></script>

{% endblock %}
