{% set pageTitle = "Chats" %}
{% set hideFooter = True %}

{% extends "base.html" %}

{% from "macros/profile-overlay.html" import profile_overlay %}


{% block content %}

{# To be added back in once profile overlay is required
{% if not request.user.name %}
  {{ profile_overlay(csrf_token, request.user, True) }}
{% endif %}
#}

<div class="govuk-width-container rbds-page-content">
  <div class="rbds-chat">
    {% include "chat/cta.html" %}
    <div class="rbds-chat-feed rbds-scrollable">
      {% include "chat/chat_window.html" %}
    </div>
    {% include "chat/message_input.html" %}
  </div>
  <exit-feedback class="exit-feedback" data-chatid="{{ current_chat.id }}" data-csrf="{{ csrf_token }}"></exit-feedback>
</div>

{# Templates #}
{% include "rbds/components/uploaded-files.html" %}
{% include "rbds/components/uploaded-file.html" %}

<script src="{{ static('js/libs/showdown.min.js') }}"></script>
<script type="module" src="{{ static('js/chats.js') }}"></script>
<script src="{{ static('js/libs/lottie.min.js') }}"></script>

{% endblock %}
