<!-- Help text inline to let them know what happens when they share documents with a team -->
<p class="govuk-body-s">Here you can manage and create teams that you collaborate with on Correspondence.</p>
<!-- help text reminding them to give documents clear and understandable names so that team members can understand what a given document is -->
<p class="govuk-body-s">If you create a team you will be the team lead, and so will be the only person who can upload documents for your team. You can also nominate others to be a team lead, so they can add documents too.</p>
