{% set pageTitle = "" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

<div class="rb-banner">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-7"> Get AI-powered insights from your {{ security }}
                    documents</h1>
                <p class="govuk-body-l govuk-!-margin-bottom-7">Ask questions, create summaries, or chat with artificial
                    intelligence (AI) about single or multiple documents to support your work.</p>
                <div class="rb-banner__links">
                    {% if not request.user.is_authenticated %}
                        {{ govukButton(
                            text="Sign in",
                            href=url('sign-in'),
                            classes="govuk-button--secondaryx"
                        ) }}
                    {% else %}
                        {{ govukButton(
                            text = "Start a chat",
                            href=url('chats'),
                            classes="govuk-button--secondaryx govuk-!-margin-bottom-0 rb-banner__button"
                            ) }}
                        {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Upload</h2>
            <p class="govuk-body ">Easily upload a wide range of document formats into your personal Redbox.</p>
        </div>
        <div class="govuk-grid-column-one-third">

            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Chat</h2>
            <p class="govuk-body">You can communicate with your Redbox and ask questions of the documents contained
                within. Use Redbox to unlock deeper insights in the various documents you have uploaded, pulling
                together summaries of individual or combined documents.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Secure</h2>
            <p class="govuk-body">Redbox is built in our secure and private cloud which enables you to upload, up to,
                and including, {{ security }} documents in your Redbox.</p>
        </div>
    </div>
</div>
</div>

    {% endblock %}
