.chat-button {
  color: var(--color-button-primary);
  cursor: pointer;
  text-align: center;
  background-color: var(--color-background-white);
  border: none;
  align-items: center;
  gap: .375rem;
  margin-top: 0;
  text-decoration: none;
  display: inline-flex;
}
