{% from "macros/icon.html" import ids_icon %}
{% from "macros/govuk-button.html" import govukButton %}

<div class="ids-chat-title__actions">
    {% if not flag_is_active(request, flags.DISABLE_TOOLS) %}
        <details class="ids-collapsible-menu">
            <summary class="govuk-button govuk-button--secondary ids-tools-button  ids-fit-content-width" role="button">
                {% if tool %}
                    {{ tool.name }}
                {% else %}
                    Try Tools
                {% endif %}
            </summary>

            <div class="ids-collapsible-menu__panel">
                {% for tool_obj in tools %}
                    {% if tool_obj != tool %}
                        {{ govukButton(
                            text=tool_obj.name,
                            classes="govuk-button--secondary ids-tools-button ids-flex-align-center ids-fit-content-width",
                            href=tool_obj.chat_url
                            ) }}
                    {% endif %}
                {% endfor %}
            </div>
        </details>
    {% endif %}

    {% set new_chat_text %}
        {{ ids_icon(icon_name='chat-add-on.svg') }}
        <span class='cta-text'>New conversation</span>
    {% endset %}

    {{ govukButton(
        text=new_chat_text,
        href=urls.new_chat_url,
        classes="govuk-button--secondary govuk-!-margin-0 ids-icon-text-button"
        ) }}
</div>
