{% from "macros/chat-macros.html" import message_box, route_display %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/govuk-warning.html" import govuk_warning %}

<div id="chat-window" name="swapped" class="govuk-grid-column-three-quarters" {% if oob %}hx-swap-oob="outerHTML"{% endif %}>
    {% if not messages %}
    <canned-prompts class="chat-options govuk-!-padding-top-5 govuk-!-padding-bottom-1"
        security-classification="{{ security }}"></canned-prompts>
    {% endif %}
    <div class="rb-chats-section">
        {% include "chat/chat_title.html" %}
        <chat-controller class="iai-chat-container" data-stream-url="{{ streaming.endpoint if streaming else '' }}"
            data-session-id="{{ chat_id or '' }}">
            <div class="rb-chat-message__container js-message-container">

                <template id="template-route-display">
                    {{ route_display() }}
                </template>

                {# SSR messages #}

                {% for message in messages %}
                {{ message_box(message=message) }}
                {% endfor %}

                {# CSR messages are inserted here #}

            </div>

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            {% if chat_id %}<input type="hidden" name="session-id" value="{{ chat_id }}" />{% endif %}

        </chat-controller>
    </div>
    <div class="chat-input__input-container">
        <label class="govuk-label govuk-!-padding-top-1" for="message"></label>
        <div id="message-hint" class="govuk-hint govuk-body">
            Need help? View <a href="{{ url('faq') }}" class="govuk-link" target="_blank">Advanced Prompt FAQ.</a>
        </div>
        <message-input>
            <div class="govuk-textareax message-input drop-zone" id="message" name="message" contenteditable="true" role="textbox"
                aria-multiline="true" data-text="Type here..."></div>
        </message-input>
        <file-upload upload-url="/documents/upload/">
            <input class="govuk-file-upload govuk-!-display-none" multiple id="upload-docs" name="uploadDocs" type="file" aria-describedby="upload-docs-notification upload-docs-filetypes">
            {{ govukButton(
                text="Add document",
                classes="upload-button govuk-!-margin-top-5 govuk-button--secondaryx govuk-!-margin-right-4",
                id="upload-button"
            ) }}
        </file-upload>
        {% if enable_dictation_flag_is_active %}
            <send-message-with-dictation data-api-key="{{ redbox_api_key }}">
                <button type="submit"
                    class="govuk-buttonx govuk-!-margin-top-5 govuk-button--secondaryx govuk-!-margin-right-4 dictate-button"
                    data-module="govuk-button">
                    Dictate
                </button>
                {{ govukButton(
                text="Stop",
                classes="govuk-!-margin-top-5 govuk-button--secondaryx govuk-!-margin-right-4",
                dont_submit=True
                ) }}
                {{ govukButton(
                text="Send",
                classes="govuk-!-margin-top-5 send-button"
                ) }}
                {{ govukButton(
                text="Stop",
                classes="govuk-!-margin-top-5"
                ) }}
            </send-message-with-dictation>
        {% else %}
            <send-message>
                {{ govukButton(
                text="Send",
                classes="govuk-!-margin-top-5 send-button"
                ) }}
                {{ govukButton(
                text="Stop",
                classes="govuk-!-margin-top-5 govuk-!-display-none"
                ) }}
            </send-message>
        {% endif %}
        {% if not messages %}
        <div class="chat-warnings">
            {{ govuk_warning(text="You can use up to, and including, official sensitive documents. Personal data can also be processed.") }}
            {{ govuk_warning(text="Redbox can make mistakes. You must check for accuracy before using the output.") }}
        </div>
        {% endif %}
    </div>
</div>
