{% from "macros/chat-macros.html" import message_box, route_display %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/govuk-warning.html" import govuk_warning %}
{% from "macros/icon.html" import rbds_icon %}

<div id="chat-window" class="rbds-chat-window" {% if oob %}hx-swap-oob="outerHTML"{% endif %}>
    {% if not messages %}
        <canned-prompts class="chat-options govuk-!-padding-top-5 govuk-!-padding-bottom-1" security-classification="{{ security }}">
            <h3 class="govuk-heading-s">
                Hello, <span class="rbds-text--product">{{ product_name(request) }}</span>
                has capabilities such as document analysis and summarisation,
                searching the web and government sources,
                and Tools (hyperlink) for tasks such as drafting submissions.
                You can always ask Assist what it can do for you, too.
            </h3>
        </canned-prompts>
    {% endif %}

    <div class="rb-chats-section">
        <chat-controller class="iai-chat-container" data-stream-url="{{ streaming.endpoint if streaming else '' }}"
            data-session-id="{{ chat_id or '' }}">
            <div class="rbds-chat-message__container rbds-flex-column js-message-container">

                <template id="template-route-display">
                    {{ route_display() }}
                </template>

                {# SSR messages #}

                {% for message in messages %}
                {{ message_box(message=message) }}
                {% endfor %}

                {# CSR messages are inserted here #}

            </div>

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            {% if chat_id %}<input type="hidden" name="session-id" value="{{ chat_id }}" />{% endif %}

        </chat-controller>
    </div>
</div>
