{% from "macros/chat-macros.html" import message_box, route_display %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/govuk-warning.html" import govuk_warning %}
{% from "macros/icon.html" import ids_icon %}
{% from "macros/upload_form.html" import upload_form %}

<div id="chat-feed" class="ids-chat-feed" hx-swap-oob="outerHTML">
    {% if not messages %}
        <canned-prompts class="chat-options govuk-!-padding-top-5 govuk-!-padding-bottom-1" security-classification="{{ security }}">
            {% if tool %}
                {% include ["tools/canned_prompts/" ~ tool.slug ~ ".html", "chat/default_canned_prompt.html"] %}
            {% else %}
                {% include "chat/default_canned_prompt.html" %}
            {% endif %}
        </canned-prompts>
    {% endif %}

    {% if is_first_time_user %}
        <ids-first-time-upload-form class="govuk-!-margin-bottom-2">
            {{ upload_form(label="Upload a file (optional)", uploadUrl=urls.upload_url, errors=errors, showSubmit=False) }}
        </ids-first-time-upload-form>
    {% endif %}

    <ids-stream-scroller data-scroll-on-load="true">
        <chat-controller class="iai-chat-container"
                        data-stream-url="{{ streaming.endpoint if streaming else '' }}"
                        data-session-id="{{ chat_id or '' }}"
                        data-logout-url="{{ url('signed-out') }}"
                        {% if tool %}
                            data-tool-id="{{ tool.id }}"
                            data-tool-slug="{{ tool.slug }}"
                        {% endif %}>
            <div class="ids-chat-message__container ids-flex-column js-message-container">

                <template id="template-route-display">
                    {{ route_display() }}
                </template>

                {# SSR messages #}
                    {% for message in messages %}
                    {{ message_box(message=message) }}
                    {% endfor %}
                {# CSR messages are inserted here #}

            </div>

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            {% if chat_id %}<input type="hidden" name="session-id" value="{{ chat_id }}" />{% endif %}
        </chat-controller>
    </ids-stream-scroller>
</div>
