{% from "macros/icon.html" import rbds_icon %}
{% from "macros/govuk-button.html" import govukButton %}

<div class="rbds-chat-title__actions">
    {% if flag_is_active(request, flags.ENABLE_TOOLS) and promoted_tool and not tool %}
        {{ govukButton(
            text="Try " ~ promoted_tool.name,
            href=promoted_tool.chat_url,
            classes="govuk-button--secondary govuk-!-margin-0 rbds-flex-align-center rbds-fit-content-width"
            ) }}
    {% endif %}

    {% set new_chat_text %}
        {{ rbds_icon(icon_name='chat-add-on.svg') }}
        <span class='cta-text'>New conversation</span>
    {% endset %}

    {{ govukButton(
        text=new_chat_text,
        href=urls.new_chat_url,
        classes="govuk-button--secondary govuk-!-margin-0 rbds-icon-text-button"
        ) }}
</div>
