{% from "macros/govuk-warning.html" import govuk_warning %}
{% from "macros/icon.html" import ids_icon %}
{% from "macros/upload_form.html" import upload_form %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "chat/message/macros/message-box.html" import message_box %}


<div id="chat-feed" class="ids-chat-feed" hx-swap-oob="outerHTML" aria-busy="false">

    {% if not messages %}
        <canned-prompts class="chat-options govuk-!-padding-top-5 govuk-!-padding-bottom-1" security-classification="{{ security }}">
            <h1 class="govuk-visually-hidden">New chat for {{ tool if tool else product_name(request) }}</h1>
            {% if tool %}
                {% include ["tools/canned_prompts/" ~ tool.slug ~ ".html", "chat/default_canned_prompt.html"] %}
            {% else %}
                {% include "chat/default_canned_prompt.html" %}
            {% endif %}
        </canned-prompts>
    {% endif %}

    {% if is_first_time_user %}
        <ids-first-time-upload-form class="govuk-!-margin-bottom-2">
            {{ upload_form(label="Upload a file (optional)", uploadUrl=urls.upload_url, errors=errors, showSubmit=False) }}
        </ids-first-time-upload-form>
    {% endif %}

    <ids-stream-scroller data-scroll-on-load="true">
        <chat-controller class="iai-chat-container"
                        data-stream-url="{{ streaming.endpoint if streaming else '' }}"
                        data-session-id="{{ chat_id or '' }}"
                        data-logout-url="{{ url('signed-out') }}"
                        {% if tool %}
                            data-tool-id="{{ tool.id }}"
                            data-tool-slug="{{ tool.slug }}"
                        {% endif %}>

            {# SSR messages #}
            <div role="log">
                <ol id="chat-message-list" aria-label="AI agent conversation" class="govuk-list ids-chat-message__container ids-flex-column">
                    {% for message in messages %}
                        {{ message_box(
                            role=message.role,
                            text=message.text,
                            message_id=message.id,
                            selected_files=message.unique_selected_files(),
                            resources=message.resources,
                            route=message.route
                        ) }}
                    {% endfor %}
                </ol>
            </div>

        </chat-controller>
    </ids-stream-scroller>
</div>
