{% from "macros/icon.html" import rbds_icon %}
{% from "macros/govuk-button.html" import govukButton %}

<div class="rbds-chat-title__actions">
    {% if promoted_tool %}
        {{ govukButton(
            text="Try " ~ promoted_tool.name,
            href=promoted_tool.chat_url,
            classes="govuk-button--secondary rbds-flex-align-center"
            ) }}
    {% endif %}
    {{ govukButton(
        text=rbds_icon(icon_name='chat-add-on.svg') ~ "New conversation",
        href=urls.new_chat_url,
        classes="govuk-button--secondary rbds-icon-text-button"
        ) }}
</div>
