{% from "macros/icon.html" import ids_icon %}

<div id="chat-cta" class="ids-chat-cta {% if not tool and not current_chat %}ids-chat-cta--centered{% endif %}" hx-swap-oob="outerHTML">
    <div class="ids-chat-cta__toggle">
        <ids-side-panel-toggle>
            <button slot="toggle-side-panel" class="ids-side-panel__toggle ids-icon-button govuk-!-padding-left-0" type="button">
                {{ ids_icon(icon_name="left-panel-open.svg", icon_classes="") }}
                <span class="govuk-visually-hidden">Toggle sidepanel</span>
            </button>
        </ids-side-panel-toggle>
    </div>

    {% if current_chat %}
    <div class="ids-chat-cta__title">
        {% include "chat/chat_title.html" %}
    </div>
    {% endif %}

    <div class="ids-chat-cta__actions">
        {% include "chat/chat_actions.html" %}
    </div>
</div>
