.govuk-buttonx {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 22px;
    padding: 8px 10px 7px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none
  }

  @media print {
    .govuk-buttonx {
      font-family: sans-serif
    }
  }

  @media (min-width:40.0625em) {
    .govuk-buttonx {
      font-size: 1rem;
      line-height: 1
    }
  }

  @media print {
    .govuk-buttonx {
      font-size: 1rem;
      line-height: 19px
    }
  }

  @media (min-width:40.0625em) {
    .govuk-buttonx {
      margin-bottom: 32px;
      width: auto
    }
  }

  .govuk-buttonx:active,
  .govuk-buttonx:hover,
  .govuk-buttonx:link,
  .govuk-buttonx:visited {
    color: #fff;
    text-decoration: none
  }

  .govuk-buttonx::-moz-focus-inner {
    padding: 0;
    border: 0
  }

  .govuk-buttonx:hover {
    background-color: #005a30
  }

  .govuk-buttonx:active {
    top: 2px
  }

  .govuk-buttonx:focus {
    border-color: #fd0;
    outline: 3px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 1px #fd0
  }

  .govuk-buttonx:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c
  }

  .govuk-buttonx:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: rgba(0, 0, 0, 0)
  }

  .govuk-buttonx:active:before {
    top: -4px
  }



  .govuk-button--secondaryx {
    background-color: #f3f2f1;
    box-shadow: 0 2px 0 #929191
  }

  .govuk-button--secondaryx,
  .govuk-button--secondaryx:active,
  .govuk-button--secondaryx:hover,
  .govuk-button--secondaryx:link,
  .govuk-button--secondaryx:visited {
    color: #0b0c0c
  }

  .govuk-button--secondaryx:hover {
    background-color: #dbdad9
  }

  .govuk-button--secondaryx:hover[disabled] {
    background-color: #f3f2f1
  }

  .govuk-button--secondaryx[disabled=disabled], .govuk-button--secondaryx:disabled {
    opacity: 50%;
  }

  .govuk-notification-bannerx {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8
  }
  
  @media print {
    .govuk-notification-bannerx {
      font-family: sans-serif
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-notification-bannerx {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579
    }
  }
  
  @media print {
    .govuk-notification-bannerx {
      font-size: 14pt;
      line-height: 1.15
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-notification-bannerx {
      margin-bottom: 50px
    }
  }
  
  .govuk-notification-bannerx:focus {
    outline: 3px solid #fd0
  }
  
  .govuk-notification-banner__headerx {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0)
  }
  
  @media (min-width:40.0625em) {
    .govuk-notification-banner__headerx {
      padding: 2px 20px 5px
    }
  }
  
  .govuk-notification-banner__titlex {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff
  }
  
  @media print {
    .govuk-notification-banner__titlex {
      font-family: sans-serif
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-notification-banner__titlex {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579
    }
  }
  
  @media print {
    .govuk-notification-banner__titlex {
      font-size: 14pt;
      line-height: 1.15
    }
  }
  
  .govuk-notification-banner__contentx {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff
  }
  
  @media print {
    .govuk-notification-banner__contentx {
      color: #000
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-notification-banner__contentx {
      padding: 20px
    }
  }
  
  .govuk-notification-banner__contentx>* {
    box-sizing: border-box;
    max-width: 605px
  }
  
  .govuk-notification-banner__contentx>:last-child {
    margin-bottom: 0
  }

  .govuk-textareax {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    resize: vertical;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none
  }
  
  @media print {
    .govuk-textareax {
      font-family: sans-serif
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-textareax {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.25;
      white-space: pre-wrap;
    }
  }
  
  @media print {
    .govuk-textareax {
      font-size: 14pt;
      line-height: 1.25
    }
  }
  
  @media (min-width:40.0625em) {
    .govuk-textareax {
      margin-bottom: 30px
    }
  }
  
  .govuk-textareax:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px
  }

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}