@use "../node_modules/govuk-frontend/dist/govuk" as govuk;
@use "../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min.css" as accessible-autocomplete;
@use "./variables.scss" as *;
@use "./redbox_design_system" as redbox_design_system;

html.no-scroll {
  overflow: hidden;
}

body {
  background-color: white;
  margin: 0;
}

main {
  padding: 0px !important;
}

input,
select,
textarea,
button,
[role="textbox"],
[contenteditable="true"],
.govuk-checkboxes__label::before,
.govuk-button,
.uploaded-file {
  border-radius: var(--border-radius) !important;
}

input,
select,
textarea {
  border: 0.5px solid var(--color-border);
  background: var(--color-background-white);
}

/* All pages */

.govuk-phase-banner__content__tag {
  background-color: $govuk-brand-colour !important;
  color: white;
}

.collapsible-menu-button {
  display: block
}

.header-list {
  display: none
}

@media screen and (min-width: 768px) {
  .header-list {
    display:flex !important;
    justify-content: flex-end;}

  .collapsible-menu-button {
    display: none !important;
  }
}

/* File upload */
.rb-file-types {
  font-size: 0.875rem;
}
upload-button {
  display: block;
}

/* Citations page */
.rb-citations__list {
  padding-left: 1rem;
}
.rb-citations__item {
  border-top: 1px solid #e5e7eb;
  padding: 2rem 0 1.5rem 0;
}
.rb-citations__item:first-child {
  border-top: none;
}

/* Documents page - to come after i.AI Design System */
.rb-doc-retention {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.rb-docs__show-if-docs {
  display: none;
}
.rb-docs:has(.iai-doc-list__item) .rb-docs__show-if-docs {
  display: block;
}
.rb-docs:has(.iai-doc-list__item) .rb-docs__show-if-no-docs {
  display: none;
}
.rb-docs__upload-error {
  color: #d4351c;
  font-weight: bold;
  align-items: center;
  display: none;
  font-size: 0.875rem;
  gap: 0.75rem;
  line-height: 1.4;
}
.rb-docs:has(file-status[data-status*="error"]) .rb-docs__upload-error {
  display: flex;
}

/* Citations Page */
.rb-back-link {
  color: var(--colour-text);
  text-decoration: none;
}

.iai-chat-bubbles__sources-link:visited {
  color: $govuk-brand-colour, var(--redbox-pink);
}
.iai-chat-bubbles__sources-link:target {
  outline: 3px solid rgba(0, 0, 0, 0);
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none
}

/* Readded logo CSS here as we store the background-image in a different location*/
.govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  background-image: url(/static/govuk-frontend/assets/images/govuk-crest.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 125px 102px;
  text-align: center;
  white-space: nowrap
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-resolution:2dppx),
only screen and (min-resolution:192dpi) {
  .govuk-footer__copyright-logo {
    background-image: url(/static/govuk-frontend/assets/images/govuk-crest-2x.png)
  }
}
