**/.venv
**/venv
**/node_modules
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.parcel-cache
**/.git
**/.vscode
**/.aws
**/.env*
**/test-results
**/coverage.xml
**/.coverage
**/.deepeval
**/staticfiles
data/
logs/
notebooks/
