# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check for files larger than 5 MB
        args: ["--maxkb=5120"]
      - id: end-of-file-fixer
        name: Check for a blank line at the end of scripts (auto-fixes)
        exclude: '\.Rd'
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md,markdown"]
        name: Check for trailing whitespaces (auto-fixes)
      - id: check-yaml
        name: Check yaml files
      - id: check-ast
        name: Check whether files parse as valid python
      - id: check-merge-conflict
        name: Check for files that contain merge conflicts
      - id: debug-statements
        name: Check for debugger imports and breakpoint calls in python source
      - id: detect-private-key
        name: Check for existence of private keys
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
        name: Check for existence of AWS secrets
      - id: check-executables-have-shebangs
        name: Check for executable files without shebangs
      - id: check-json
        name: Check JSON files for syntax errors
        exclude: 'tests/data/csv/user_update.json'
      - id: check-case-conflict

  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: poetry.lock
        args:
          - --baseline
          - .secrets.baseline
        name: Detect sensitive data (passwords, keys, etc.)

  - repo: https://github.com/uktrade/github-standards
    rev: v1.3.0
    hooks:
      - id: validate-security-scan
      - id: run-security-scan

  - repo: local
    hooks:
      - id: detect-ip
        name: Detect IP addresses
        entry: '^(?!0\.0\.0\.|127\.0\.0\.1)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'
        language: pygrep
        exclude: ^static/|\.lock
        files: .
      - id: detect-aws-account
        name: Detect AWS account numbers
        language: pygrep
        entry: ':\d{12}:'
      - id: make-format
        name: Run make format
        entry: make format
        language: system
        pass_filenames: false
