services:
  redbox-unstructured:
    build:
      context: ./unstructured
      dockerfile: Dockerfile
    container_name: unstructured
    platform: linux/amd64
    ports:
      - 8000:8000
    networks:
      - redbox-app-network
    mem_limit: 6g
    cpus: 2
    environment:
      - UNSTRUCTURED_MAX_WORKERS=2
      - UNSTRUCTURED_TEMP_DIR=/tmp/unstructured_temp
      - ENV=local
    volumes:
      - ./unstructured_temp:/tmp/unstructured_temp
  redbox-django-app:
    image: redbox-django-app:latest
    container_name: django_app
    build:
      context: .
      dockerfile: ./django_app/Dockerfile
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
      opensearch:
        condition: service_healthy
      redbox-unstructured:
        condition: service_started
    networks:
      - redbox-app-network
    env_file:
      - path: tests/.env.integration
        required: false
      - path: .env
        required: false
    environment:
      - ENVIRONMENT=${ENVIRONMENT:-production}
    volumes:
      - /app/django_app/frontend/node_modules
      - ./django_app:/app/django_app/
      - .aws:/root/.aws
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    healthcheck:
      test: curl --fail http://localhost:${PORT:-8080}/health/ || exit 1
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 60s
  data_hub_mcp:
    image: data_hub_mcp:latest
    container_name: data_hub_mcp
    build:
      context: .
      dockerfile: ./data_hub_mcp/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - path: data_hub_mcp/.env.integration
        required: false
    networks:
      - redbox-app-network
    ports:
      - "${PORT:-8100}:${PORT:-8100}"
    healthcheck:
      test: curl --fail http://localhost:${PORT:-8100}/health/ || exit 1
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 60s
  db:
    image: postgres:14
    container_name: db
    env_file:
      - path: tests/.env.integration
        required: false
      - path: .env
        required: false
    volumes:
      - local_postgres_data:/var/lib/postgresql/data:Z
    networks:
      - redbox-app-network
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "redbox-core", "-d", "db_prod" ]
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 30s
  db_data_hub:
    image: postgres:14
    container_name: db_data_hub
    env_file:
      - path: data_hub_mcp/.env.integration
        required: false
    volumes:
      - local_data_hub_postgres_data:/var/lib/postgresql/data:Z
    networks:
      - redbox-app-network
    ports:
      - "5431:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "data_hub", "-d", "db_prod" ]
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 30s
  requirements:
    image: python:3.12
    profiles:
      - utils
    volumes:
      - ./:/app/:z
  redbox-worker:
    image: redbox-worker:latest
    container_name: worker
    build:
      context: .
      dockerfile: django_app/Dockerfile
    command: "venv/bin/django-admin qcluster"
    env_file:
      - path: tests/.env.integration
        required: false
      - path: .env
        required: false
    volumes:
      - .aws:/root/.aws
    depends_on:
      redbox-unstructured:
        condition: service_started
      opensearch:
        condition: service_healthy
      minio:
        condition: service_healthy
      redbox-django-app:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - redbox-app-network
    restart: unless-stopped
  minio:
    image: minio/minio
    container_name: minio
    expose:
      - "9000"
      - "9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    command: server --console-address ":9001" /data
    networks:
      - redbox-app-network
    volumes:
      - ./data/objectstore:/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 30s

  opensearch:
    image: opensearchproject/opensearch:3
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - plugins.security.disabled=true  # Disable security plugin for simplicity
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_INITIAL_ADMIN_PASSWORD} # Sets the demo admin user password when using demo configuration (for OpenSearch 2.12 and later)
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    networks:
      - redbox-app-network
    healthcheck:
      test: curl --fail http://localhost:9200/_cluster/health || exit 1
      interval: 5s
      timeout: 30s
      retries: 24
      start_period: 60s
    restart: unless-stopped
  opensearch-dashboards:
    # Make sure the version of opensearch-dashboards matches the version of opensearch installed on other nodes
    image: opensearchproject/opensearch-dashboards:3
    container_name: opensearch_dashboards
    ports:
      # Map host port 5601 to container port 5601
      - 5601:5601
    expose:
      # Expose port 5601 for web access to OpenSearch Dashboards
      - "5601"
    environment:
      # Define the OpenSearch nodes that OpenSearch Dashboards will query
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    networks:
      - redbox-app-network
    depends_on:
      opensearch:
        condition: service_healthy
    restart: unless-stopped

networks:
  redbox-app-network:
    driver: bridge

volumes:
  opensearch-data:
  redbox-app-data:
  local_postgres_data: {}
  local_data_hub_postgres_data: {}
