.rbds-edit-icon {
  --edit-icon-foreground-color: var(--color-icon-light-foreground);

  &.hover {
    &:hover {
      --edit-icon-foreground-color: var(--color-icon-light-foreground-hover);
    }
  }

  .foreground {
    fill: var(--edit-icon-foreground-color);
  }
}
