{% if skill %}
    <div class="govuk-grid-column-one-third govuk-!-padding-3 rbds-flex-column rbds-card">
        <h3 class="govuk-heading-s govuk-!-margin-top-5">{{ skill.name }}</h3>
        <p class="govuk-body-s">{{ skill.description }}</p>

        <div class="cta-navigation rbds-push-bottom">
            {% if skill.has_info_page %}
                <p class="govuk-body-s">
                    <a href="{{ skill.info_page_url }}"
                        class="govuk-link">
                        View more about {{ skill.name | lower }}
                    </a>
                </p>
            {% endif %}

            {{ govukButton(
                text = "Use " ~ skill.name | lower,
                href=skill.chat_url,
                classes="rbds-w-fit govuk-!-margin-bottom-0"
            ) }}
        </div>

    </div>
{% endif %}
