<section aria-label="Service information" class="govuk-service-navigation rbds-skills-banner"
    data-module="govuk-service-navigation">
    <div class="govuk-width-container rbds-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                {{ skill.name }}
                <a href="{{ url('skills') }}"
                    class="govuk-link govuk-!-padding-left-5 govuk-!-font-weight-regular govuk-link--no-visited-state">
                    Change skill
                </a>
            </span>
        </div>
    </div>
</section>
