.ids-header__menu-button {
    &::after {
        display: none;
    }
    &[aria-expanded="true"]:after {
        display: none;
    }
    &:focus {
        background-color: transparent;
        box-shadow: none;
        outline:none;
    }
    .button-content{
      line-height: 0;
    }
    &:focus > .button-content {
        outline: 3px solid var(--color-focus);
        outline-offset: 0;
        background-color: var(--color-focus);
    }
    &:hover > .button-content {
        background-color: transparent;
        box-shadow: none;
        outline:none;
    }
}
