ids-loading-message {
  display: inline-flex;
}

.ids-loading-text,
.ids-loading-ellipsis {
  margin: 0;
}

.ids-loading-ellipsis {
  width: 15px;
}

.ids-loading-text {
  font-style: italic;
}

@keyframes ellipsis {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}

.ids-loading-ellipsis::after {
  content: '';
  animation: ellipsis 1.5s steps(3, end) infinite;
}
