{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/icon.html" import ids_icon %}

<template id="ids-uploaded-file-template">
    <div class="uploaded-file-wrapper" data-id="">
        <div class="uploaded-file" contenteditable="false" tabindex="-1">
            <div data-icon></div>
            <span class="file-name" title="" data-name></span>
            {% call govukButton(
                text=ids_icon(icon_name="close.svg", icon_classes="link"),
                classes="govuk-button--secondary ids-icon-button",
                prevent_double_click=True,
                dont_submit=True,
                attributes={"data-remove":""}
            ) %}
                <span class="govuk-visually-hidden">
                    Remove document: <span data-name></span>
                </span>
            {% endcall %}
        </div>
        <div class="upload-progress">
            <div class="upload-progress-text" data-status-text>Processing...</div>
            <div class="upload-progress-fill-wrapper">
                <div class="upload-progress-fill" data-progress-bar data-status="processing" style="--progress-width: 100%;"></div>
                <div class="upload-progress-fill-text" data-progress-percent>0</div>
            </div>
        </div>
    </div>
</template>
