.ids-card-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--card-gap);
    margin-left: 0;
    margin-right: 0;
}

.ids-card-grid--3-col > .ids-card {
    flex: 0 0 calc(33.333% - var(--card-gap));
}
