.ids-scrollable {
  --scrollbar-background-color: transparent;
  --scrollbar-color: var(--color-border);

  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
  scrollbar-gutter: stable;
  transition: overflow 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    overflow-y: auto;
  }
}

// table
.ids-scrollable thead th {
    position: sticky;
    top: 0;
    background: var(--color-background-white);
    z-index: 2;
}

// Allows auto-scrolling to found element when using the find/search browser tool
.ids-scrollable:has(>table:first-child) {
  overflow: auto;
}
