.rb-chat-history__date_group {
  margin-top: 2rem;
  padding-left: 0.75rem;
}

.rb-chat-history__text-input {
  display: none;
}
.rb-chat-history__text-input input {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.375rem;
  width: 100%;
  color: white;
}
.rb-chat-history__actions-button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  gap: 0.25rem;
  height: 1.5rem;
}
chat-history[data-initialised] .rb-chat-history__actions-button {
  display: flex;
}
.rb-chat-history__actions-button span {
  border: 1px solid var(--iai-colour-text-primary);
  border-radius: 100%;
  height: 4px;
  width: 4px;
}
.rb-chat-history__actions-button:hover span {
  background-color: var(--iai-colour-text-primary);
}


@media (min-width: 641px) {
  .rb-chats-section {
    flex-grow: 1;
  }
}

.rb-loading-ellipsis {
  font-style: italic;
  margin-top: 1rem;
}
.rb-loading-ellipsis span {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 0 -2px;
}
.rb-loading-ellipsis span:nth-of-type(1) {
  animation-name: rb-ellipsis-1;
}
.rb-loading-ellipsis span:nth-of-type(2) {
  animation-name: rb-ellipsis-2;
}
.rb-loading-ellipsis span:nth-of-type(3) {
  animation-name: rb-ellipsis-3;
}
@keyframes rb-ellipsis-1 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes rb-ellipsis-2 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes rb-ellipsis-3 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

/* Footnotes */
.rb-footnote-link {
  background-color: var(--iai-colour-secondary-teal);
  color: var(--color-background-white);
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}
.rb-footnote-list {
  padding-left: 1rem;
}

/* Response feedback - general styles */
.feedback-container--1:not([hidden]) {
  align-items: flex-start;
  color: #6b7280;
  display: flex;
  flex-wrap: wrap;
}

.feedback__heading {
  color: var(--color-text);
  margin: 0;
  margin-right: 1rem;
}

.thumb_feedback-btn {
  border: none;
  background: none;
  padding: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.feedback__text-area {
  margin-top: 0.5rem; /* Adjust as needed */
}
.feedback__text-input {
  display: block;
  margin-top: 0.5rem;
  padding: 0.375rem;
  max-width: 18rem;
  resize: none;
  width: 100%;
}

.feedback__submit-btn {
  background-color: var(--color-background);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-background-white);
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.govuk-inset-text:focus,
.govuk-inset-text:focus-visible {
  outline: none;
  box-shadow: none;
}

/* New Chat Options */
.chat-options {
  scroll-margin-bottom: 16rem;
  padding-right: 0;
}
main:has(.govuk-inset-text) .chat-options {
  display: none;
}
.chat-options__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chat-options__option {
  align-items: center;
  background-color: var(--color-background-white);
  border: 1px solid #b1b4b6;
  border-radius: 0.375rem;
  color: #60697b;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  padding: 0.875rem 1rem;
  flex-grow: 1;
  text-align: left;
}
.chat-options__option:hover {
  border-color: var(--color-background);
  color: var(--color-background);
}
.chat-options__info-text {
  color: #1f2937;
  margin-top: 0.75rem;
}
@media (min-width: 641px) {
  .chat-options {
    display: block;
  }
}
@media (min-width: 1020px) {
  .chat-options__options {
    flex-direction: row;
    gap: 2rem;
  }
  .chat-options__option {
    width: 33%;
  }
}

.iai-chat-input {
  max-width: 94%;
}
@media (min-width: 1020px) {
  .iai-chat-input {
    max-width: 100%;
  }
}

.exit-feedback {
  background-color: #f3edc9;
  display: none;
  font-size: 0.75rem;
  max-width: 18rem;
  min-height: 6.5rem;
  position: fixed;
  right: 0;
  top: calc(50% - 4rem);
}
main:has(.iai-chat-bubble[data-role="ai"]) .exit-feedback {
  display: flex;
}
.exit-feedback__panel {
  display: none;
  padding: 1rem;
}
.exit-feedback:has(.exit-feedback__toggle-button[aria-expanded="true"])
  .exit-feedback__panel {
  display: block;
}
.exit-feedback__question-container {
  align-items: center;
  border: 0;
  display: flex;
  gap: 0.25rem;
  margin: 0;
  padding: 0.5rem 0;
}
.exit-feedback__question-container--small {
  gap: 1rem;
}
.exit-feedback__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.exit-feedback__thumb-icon {
  color: black;
  cursor: pointer;
  width: 1.5rem;
}
.exit-feedback__thumb-icon--down {
  transform: rotate(180deg);
}
.exit-feedback__thumb-icon--up:hover,
.exit-feedback input:checked + label .exit-feedback__thumb-icon--up {
  color: var(--iai-colour-secondary-teal);
}
.exit-feedback__thumb-icon--down:hover,
.exit-feedback input:checked + label .exit-feedback__thumb-icon--down {
  color: var(--color-background);
}
.exit-feedback
  input:checked
  + label
  .exit-feedback__thumb-icon--up
  .exit-feedback__thumb-icon-fill {
  fill: #84b8b3;
}
.exit-feedback
  input:checked
  + label
  .exit-feedback__thumb-icon--down
  .exit-feedback__thumb-icon-fill {
  fill: #c08181;
}
.exit-feedback__radio-container {
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
}
.exit-feedback__radio-container input {
  opacity: 0;
}
.exit-feedback__radio-container label {
  left: 0;
  position: absolute;
  top: 0;
}
.exit-feedback__radio-container input:focus-visible + label {
  border-radius: 0.25rem;
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
.exit-feedback__input-notes {
  font-size: 0.875rem;
}
.exit-feedback__send-button {
  margin-bottom: 0;
  min-height: 2.25rem;
}
.exit-feedback__confirmation-container {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}
.exit-feedback__tick-animation {
  flex-shrink: 0;
  height: 3.75rem;
  pointer-events: none;
  position: relative;
  width: 3.75rem;
}
.exit-feedback__tick-animation > div {
  left: -3.125rem;
  position: absolute;
  top: -3.125rem;
  width: 10rem;
}
.exit-feedback__confirmation-text {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.exit-feedback__dismiss {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
}
.exit-feedback__dismiss:hover {
  text-decoration: underline;
}

.exit-feedback__toggle-button {
  background-color: var(--color-background-white);
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  width: 1.75rem;
}

.exit-feedback__toggle-button-icon {
  left: -0.0625rem;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  transition: transform 0.5s;
  width: 2rem;
}
.exit-feedback__toggle-button-text {
  display: block;
  font-size: 0.75rem;
  left: -0.8125rem;
  position: absolute;
  top: 3.625rem;
  transform: rotate(-90deg);
}

@keyframes exit-feedback-wobble {
  0% {
    transform: rotate(-90deg);
  }
  33% {
    transform: rotate(-120deg);
  }
  67% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.exit-feedback__toggle-button:hover .exit-feedback__toggle-button-icon {
  animation-name: exit-feedback-wobble;
  animation-duration: 0.5s;
}

@media (prefers-reduced-motion) {
  .exit-feedback__toggle-button:hover .exit-feedback__toggle-button-icon {
    animation-duration: 0;
  }
}

.full-width-panel-title {
  width: 100%;
}

.spinning {
  background: url('icons/Ajax-loader.gif') no-repeat left top;
  background-color: var(--color-background-white);
  background-size: 20px;
  border: 1px solid var(--color-border-dark);
  outline: none;
  background-position: 1% 40%;
}

.recording {
  background: url('icons/red-recording-icon.gif') no-repeat left top;
  background-color: var(--color-background-white);
  background-size: 20px;
  border: 1px solid var(--color-border-dark);
  outline: none;
  background-position: 1% 40%;
}

.govuk-button--secondary-new {
  background-color: var(--color-background-white) !important;
  color: var(--color-background) !important;
  font-size: 1.1875rem;
  text-decoration: none;
}



#document-link {
  float: right;
}

.govuk-inset-text-right {
  border-left: none;
  border-right: 10px solid var(--color-border);
  padding-left: 100px;
  text-align: right;
}

.chat-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.redbox-message-container {
margin-top: 64px;
margin-bottom: 16px;
}
.chat-input__input-container {
  position: sticky;
  background-color: var(--color-background-white);
  top: 0;
  z-index: 100;
  bottom: 0;
}

.redbox-message-route {
  margin-bottom: 16px;
}
