.rbds-no-hover {
  pointer-events: none;
}

// Can be moved to its own component if drag/drop functionality gets reused
.rbds-drop-zone.drag-over {
  border-color: var(--redbox-blue);
  border-width: 3px;
}

.rbds-align-middle {
  vertical-align: middle;
}

// Leave a gap for the header when navigating to page sections
[id] {
  scroll-margin-top: var(--header-height);
}

.rbds-border {
  border: 1px solid var(--color-border);
}

.rbds-push-bottom {
  margin-top: auto;
}

.rbds-text-ellipses {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rbds-min-width-0 {
  min-width: 0;
}
