.icon-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;

  &.dark {
    --color-icon-light-foreground: var(--color-icon-light-foreground-secondary);
  }
}
