@import "../../../../node_modules/govuk-frontend/dist/govuk/settings";
@import "../../../../node_modules/govuk-frontend/dist/govuk/helpers";

.rbds-icon-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  padding: 0;
  margin: 0;
  box-shadow: none;

  &.dark {
    --color-icon-light-foreground: var(--color-icon-dark-foreground);
  }

  &--focused {
    @include govuk-focused-text;
  }

  &--active {
    @include govuk-focused-text;

    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-focus);
  }
}

.rbds-icon-text-button {
  border: 0;
  align-items: center;
  display: flex;
  gap: 10px;
  &.dark {
    --color-icon-light-foreground: var(--color-icon-dark-foreground);
  }
}
