{% set pageTitle = tool.name %}
{% set persistentSidepanel = False %}

{% extends "base.html" %}

{% from "macros/govuk-button.html" import govukButton %}


{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-5">{{ tool.name }}</h1>

        <div class="govuk-body">
            {% block tool_description %}
            {% endblock %}
        </div>

        <div class="ids-divider govuk-!-margin-top-7 govuk-!-margin-bottom-6"></div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s">When to use this tool</h2>
                <p class="govuk-body-s">This tool is useful when:</p>
                {% block tool_when_to_use %}
                {% endblock %}

                <h2 class="govuk-heading-s govuk-!-margin-top-5">How to use this tool</h2>
                <p class="govuk-body-s">To get started and get the most out of the tool:</p>
                {% block tool_how_to_use %}
                {% endblock %}

                {% block tool_additional_content %}
                {% endblock %}

                {{ govukButton(
                    text = "Use " ~ tool.name | lower,
                    href=tool.chat_url,
                    classes="ids-push-bottom ids-w-fit"
                ) }}
            </div>

            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Documents used in this tool</h3>
                {% block tool_document_guidance_header %}
                {% endblock %}

                {% for file in tool.get_files("ADMIN") %}
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-2 ids-text-ellipses ids-action-link" title="{{ file.file_name }}">
                        <a class="govuk-link govuk-link--no-underline" href="{{ file.url }}">{{ file.file_name }}</a>
                    </p>
                    <div class="ids-divider govuk-!-padding-bottom-5"></div>
                {% endfor %}

                {% block tool_document_guidance_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
