{% if tool %}
    <div class="ids-card ids-card--tool govuk-!-padding-4 ids-width--full">
        <div class="ids-flex-column ids-height--full">
            <div class="ids-flex-space-between govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                <h3 class="govuk-heading-s govuk-!-margin-0">{{ tool.name }}</h3>
                <a href="{{ tool.chat_url }}" class="govuk-link">Use this tool</a>
            </div>

            <div class="ids-divider govuk-!-padding-bottom-6"></div>
            <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">{{ tool.description }}</p>
            <div class="ids-divider ids-push-bottom govuk-!-padding-bottom-2"></div>
        </div>
    </div>
{% endif %}
