{% if tool %}
    <div class="govuk-grid-column-one-third govuk-!-padding-3 rbds-flex-column rbds-card">
        <h3 class="govuk-heading-s govuk-!-margin-top-5">{{ tool.name }}</h3>
        <p class="govuk-body-s">{{ tool.description }}</p>

        <div class="cta-navigation rbds-push-bottom">
            {% if tool.has_info_page %}
                <p class="govuk-body-s">
                    <a href="{{ tool.info_page_url }}"
                        class="govuk-link">
                        Learn more here
                    </a>
                </p>
            {% endif %}

            {{ govukButton(
                text = "Use Tool",
                href=tool.chat_url,
                classes="rbds-w-fit govuk-!-margin-bottom-0"
            ) }}
        </div>

    </div>
{% endif %}
