{% set pageTitle = "Tools" %}
{% set persistentSidepanel = False %}

{% extends "base.html" %}

{% from "macros/govuk-button.html" import govukButton %}


{% block content %}
<div class="govuk-width-container">
    <h1 class="govuk-heading-m govuk-!-margin-top-7">Tools</h1>

    <p class="govuk-body-s govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        Use DBT Assist's tools to complete routine and repeatable tasks more efficiently.
    </p>

    <div class="govuk-width-container govuk-!-margin-0">
        <div class="ids-justify-content-center">
            <div class="ids-card-grid govuk-!-margin-bottom-7">
                {% for tool in tools %}
                    {% include "tools/tool-card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
