.rbds-chat-window {
    --chat-window-min-height: 100vh;
    width: var(--screen-width-xl);
    max-width: 100%;
    min-height: var(--chat-window-min-height);
    flex: 1;
    display: flex;
    align-items: stretch;

    &--first-time {
        --chat-window-min-height: 0;
    }
    flex-direction: column;
}

.rbds-chat-cta {
    --cta-container-height: 15px;

    width: var(--screen-width-xl);
    height: var(--cta-container-height);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 10px;

    position: sticky;
    top: 0;
    background-color: var(--color-background-white);
    z-index: 200;

    &--centered {
        .rbds-chat-cta__row--top {
            justify-content: center;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__row--top {
        justify-content: space-between;
    }

    &__row--bottom {
        padding-top: 10px;
    }

    &__left {
        display: flex;
    }

    &__row {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.rbds-chat-interaction {
    --interaction-container-height: 30px;
    --interaction-container-width: var(--screen-width-xl);

    position: sticky;
    bottom: 0;
    background-color: var(--color-background-white);
    background-color: white;
    z-index: 200;

    width: var(--interaction-container-width);
    min-height: var(--interaction-container-height);

    padding-top: 30px;
    padding-bottom: 30px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        max-height: 200px;
    }
}
