@use "./../../../variables.scss" as *;

.rbds-chat-wrapper {
    height: 100%;
}

.rbds-chat {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: auto;

    &:has(.rbds-message-container) {
        height: 100%;
    }
}

.rbds-chat-feed {
    --chat-feed-min-height: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;

    &--first-time {
        --chat-feed-min-height: 0;
    }
    flex-direction: column;
}

.rbds-chat-cta {
    --cta-container-height: 35px;

    background-color: var(--color-background-white);
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;

    &__toggle  { grid-area: toggle; }
    &__tool    { grid-area: tool; }
    &__title   { grid-area: title; }
    &__actions { grid-area: actions; }

    align-items: center;
    justify-self: stretch;
    justify-items: stretch;
    justify-content: space-between;

    height: var(--cta-container-height);
    padding-top: 20px;
    padding-bottom: 60px;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 200;

    .cta-text {
        display: flex;
    }

    &:has(.rbds-chat-cta__tool):has(.rbds-chat-cta__title) {
        grid-template-areas:
            "tool   actions"
            "title  .";
    }

    &:has(.rbds-chat-cta__tool):not(:has(.rbds-chat-cta__title)) {
        grid-template-areas:
            "tool   actions"
    }

    &:has(.rbds-chat-cta__title):not(:has(.rbds-chat-cta__tool)) {
        grid-template-areas:
            "title  actions"
    }

    &:not(:has(.rbds-chat-cta__title)):not(:has(.rbds-chat-cta__tool)) {
        justify-content: center;
        grid-template-areas:
            ".  actions"
    }
}

.rbds-chat-interaction {
    --interaction-container-height: 60px;

    padding-top: 30px;
    padding-bottom: 20px;
    position: sticky;
    bottom: 0;
    background-color: var(--color-background-white);
    background-color: white;
    z-index: 200;
    flex-shrink: 0;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        max-height: 200px;
    }
}

@media (min-width: bp(xs)) {
    .rbds-chat-cta {
        --cta-container-height: 75px;

        grid-template-columns: auto 1fr;
        justify-items: end;
        padding-top: 40px;
        padding-bottom: 40px;

        .cta-text {
            display: none;
        }

        &:has(.rbds-chat-cta__tool):has(.rbds-chat-cta__title) {
            padding-top: 20px;
            padding-bottom: 60px;
            grid-template-areas:
                "toggle actions"
                ".      tool"
                ".      title";
        }

        &:has(.rbds-chat-cta__tool):not(:has(.rbds-chat-cta__title)) {
            grid-template-areas:
                "toggle actions"
                ".      tool";
        }

        &:has(.rbds-chat-cta__title):not(:has(.rbds-chat-cta__tool)) {
            grid-template-areas:
                "toggle actions"
                ".      title";
        }

        &:not(:has(.rbds-chat-cta__title)):not(:has(.rbds-chat-cta__tool)) {
            justify-self: stretch;
            grid-template-areas:
                "toggle actions";
        }

        .rbds-chat-cta__toggle {
            display: flex;
        }
    }

    .rbds-chat-interaction {
        --interaction-container-height: 60px;

        padding-top: 15px;
        padding-bottom: 10px;
    }
}

@media (min-width: bp(s)) {
    .rbds-chat-cta {
        --cta-container-height: 35px;

        grid-template-columns: auto auto;
        justify-items: stretch;
        padding-top: 20px;
        padding-bottom: 60px;

        .cta-text {
            display: flex;
        }

        &:has(.rbds-chat-cta__tool):has(.rbds-chat-cta__title) {
            grid-template-areas:
                "tool   actions"
                "title  .";
        }

        &:has(.rbds-chat-cta__tool):not(:has(.rbds-chat-cta__title)) {
            grid-template-areas:
                "tool   actions";
        }

        &:has(.rbds-chat-cta__title):not(:has(.rbds-chat-cta__tool)) {
            grid-template-areas:
                "title  actions";
        }

        &:not(:has(.rbds-chat-cta__title)):not(:has(.rbds-chat-cta__tool)) {
            justify-self: center;
            grid-template-areas:
                ".  actions";
        }

        .rbds-chat-cta__toggle {
            display: none;
        }
    }

    .rbds-chat-interaction {
        --interaction-container-height: 60px;

        padding-top: 30px;
        padding-bottom: 20px;
    }
}
