.rbds-flex-row {
  display: flex;
  flex-direction: row;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.rbds-flex-column {
  display: flex;
  flex-direction: column;

  .push-bottom {
    margin-top: auto;
  }
}
