{% from "macros/icon.html" import ids_icon %}

<div class="ids-side-panel__header">
    <header class="govuk-header govuk-!-width-full" role="banner" data-module="govuk-header" id="top">
        <div class="govuk-header__container ids-header-container">

            <div class="govuk-header__logo app-header-logo govuk-!-margin-bottom-0 govuk-!-width-full">
                <a class="govuk-header__link govuk-header__link--homepage" href="/">
                    <span class="govuk-header__product-name govuk-!-font-weight-bold ids-text-xl ids-width--max-content">{{ productName }}</span>
                </a>
            </div>

            <div class="govuk-header__content">
                <ids-side-panel-toggle>
                    <button slot="toggle-side-panel"
                            type="button"
                            class="govuk-header__menu-button ids-header__menu-button ids-side-panel__toggle ids-icon-button"
                            aria-controls="navigation"
                            aria-label="Show or hide menu">
                        {{ ids_icon(icon_name="left-panel-close.svg", icon_classes="dark") }}
                    </button>
                </ids-side-panel-toggle>

                <ul id="navigation" class="govuk-header__navigation-list header-list"></ul>
            </div>

        </div>
    </header>
</div>
