{% from "macros/chat-history-macros.html" import chat_history_item %}
{% from "rbds/components/show-more.html" import show_more %}

<chat-history {% if oob %}hx-swap-oob="outerHTML"{% endif %}>
    <div id="recent-chats" class="recent-chats rbds-scrollable">
        <ul class="chat-list">
            {% for chat in chats %}
            {{ chat_history_item(chat, url('chats', chat.id), chat_id) }}
            {% endfor %}
        </ul>
        {{ show_more('.chat-list', 'li', 3) }}
    </div>
</chat-history>
