{% from "macros/icon.html" import ids_icon %}

<div class="ids-page-side-panel">
    <ids-side-panel class="ids-side-panel-wrapper {% if sidepanel_collapsed %}ids-side-panel-wrapper--collapsed{% endif %}">
        <div class="ids-side-panel ids-text-xs">
            <ids-side-panel-toggle>
                <button slot="toggle-side-panel" class="ids-side-panel--collapsed__content ids-side-panel__toggle ids-icon-button" type="button">
                    {{ ids_icon(icon_name="left-panel-open.svg", icon_classes="dark") }}
                    <span class="govuk-visually-hidden">Toggle sidepanel</span>
                </button>
            </ids-side-panel-toggle>

            {% include "side_panel/header.html" %}

            <div class="ids-side-panel__content ids-scrollable">
                {% include "side_panel/conversations.html" %}
                {% include "side_panel/model_selector.html" %}
                {% include "side_panel/your_documents.html" %}
                {% include "side_panel/menu.html" %}
            </div>

            <footer class="ids-side-panel__footer">
                <span class="ids-flex-align-center ids-justify-content-center">
                    {{ ids_icon(icon_name="dbt-logo.svg", icon_classes="ids-width--full") }}
                </span>
                <span class="govuk-!-text-align-centre">
                    © Crown copyright 2025. All rights reserved.
                </span>
            </footer>
        </div>
    </ids-side-panel>
</div>
