{% from "components/show-more.html" import show_more %}
{% from "components/editable-text.html" import editable_text %}
<document-selector id="document-selector" class="govuk-!-margin-top-5 govuk-!-padding-top-3">
    <fieldset class="govuk-fieldset">
        <legend class="full-width-panel-title">
            <div class="divider"></div>
            <h3 class="govuk-heading-s side-panel-heading govuk-!-margin-top-4">
                Your documents
                <a href="{{ url('upload') }}">{% include 'icons/document-add.html' %}</a>
            </h3>
        </legend>
        <div id="your-documents" class="your-documents scrollable govuk-checkboxes govuk-checkboxes--small"
            data-module="govuk-checkboxes">
            {% for file in completed_files %}
            <div class="side-panel-item-container">
                {% set document_edit_url = url('document-titles', doc_id=file.id) %}
                {% call editable_text(document_edit_url, 'document-title-change', 'your-documents', file.id) %}
                    <div class="govuk-checkboxes__item item-checkbox-container display">
                        <input class="govuk-checkboxes__input" id="file-{{ file.id }}" name="file-{{ file.id }}" type="checkbox"
                            value="{{ file.id }}" {% if file.selected %}checked{% endif %}>
                        <label class="item-checkbox-label govuk-checkboxes__label title-text" for="file-{{ file.id }}"
                            title="{{ file.file_name }}">{{ file.file_name }}</label>
                    </div>
                    <div class="item-title-text-input govuk-!-display-none edit-input-wrapper">
                        <label class="govuk-visually-hidden" for="item-title-text-input-{{ file.id }}">Document name</label>
                        <input class="edit-input" type="text" id="item-title-text-input-{{ file.id }}" />
                    </div>
                    <div class="side-panel-item-actions">
                        <button class="edit-button edit-trigger" type="button" data-action="rename">
                            {% include 'icons/edit.html' %}
                            <span class="govuk-visually-hidden"> edit document: {{ file.file_name }}</span>
                        </button>
                        <button class="delete-button"
                                hx-post="/documents/{{ file.id }}/delete-document/"
                                hx-vals='{
                                    "active_chat_id": "{{ chat_id }}",
                                    "file_selected": "{{ file.selected }}"
                                }'
                                hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
                                hx-target="#document-selector"
                                hx-swap="outerHTML">
                            {% include 'icons/delete.html' %}
                            <span class="govuk-visually-hidden"> delete document: {{ file.file_name }}</span>
                        </button>
                    </div>
                {% endcall %}
            </div>
            {% endfor %}
            {# files not yet ready - stored here to be moved to main list once ready #}
            <div hidden>
                {% for file in processing_files %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="file-{{ file.id }}" name="file-{{ file.id }}"
                        type="checkbox" value="{{ file.id }}" {% if file.selected %}checked{% endif %}>
                    <label class="item-checkbox-label govuk-checkboxes__label" for="file-{{ file.id }}">{{
                        file.file_name }}</label>
                    <file-status data-id="{{ file.id }}"></file-status>
                </div>
                {% endfor %}
            </div>
            {{ show_more('.your-documents', '.side-panel-item-container', 5) }}
        </div>
    </fieldset>
</document-selector>
