// Fully custom class method (used alongside any govuk classes)
// e.g. class="govuk-grid-row flex-row"
.flex-row {
    display: flex;
    flex-direction: row;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;

    .push-bottom {
        margin-top: auto;
    }
}
