.side-panel-scrollable {
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-border) var(--color-background);
    scrollbar-gutter: stable;
    transition: overflow 0.2s ease;
}

.side-panel-scrollable:hover,
.side-panel-scrollable:focus,
.side-panel-scrollable:active {
    overflow-y: auto;
}
