{% from "macros/icon.html" import rbds_icon %}

{% set productName = product_name(request) %}

{% macro route_display(route=None) %}
<details class="govuk-details redbox-message-route" {% if not route %} hidden {% endif %}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text rbds-text-xs rbds-no-underline">
      How {{ productName }} generated this response</span>
    </span>
  </summary>
  <div class="govuk-details__text rbds-text-xs">
    <span>{{ productName }} automatically determines what the best ‘tools' are to answer your prompts/queries:</span>
    <ul>
      <li>If no document(s) selected, {{ productName }} defaults to using ‘chat’, which gets answers from the model's training data</li>
      <li>When document(s) selected, {{ productName }} will default to searching for information based on your prompt</li>
      <li>If you request a summary of one or more documents, {{ productName }} will do that rather than search</li>
      <li>{{ productName }} can use external search tools for <a href="https://www.gov.uk">GOV.UK</a> and <a href="https://www.wikipedia.org">Wikipedia</a></li>
      <li>When your request/prompt might best be answered by using two or more tools at the same time, {{ productName }} will provide you with its proposed plan, which you can agree to, modify or cancel</li>
      <li>The knowledge that {{ productName }} has access to is cut off in November 2024, so ensure that if you need up to date information you ask for {{ productName }} to find additional online sources</li>
    </ul>
  </div>
</details>
{% endmacro %}



{% macro message_box(message) %}


{% set role_text = message.role %}
{% if message.role == "ai" %}
{% set role_text = "Redbox" %}
{% elif message.role == "user" %}
{% set role_text = "You" %}
{% endif %}


<div class="rbds-message-container govuk-body" data-role="{{ message.role }}" tabindex="-1" id="chat-message-{{ message.id }}">
  <div class="{% if message.role == "user" %}rbds-message-container__right rbds-border{% else %}rbds-message-container__left{% endif %}">
    <markdown-converter class="rbds-chat-message__text">{{ message.text }}</markdown-converter>
    {% set citations = message.get_citations() %}
    {% if citations %}
      <h3 class="iai-chat-bubble__sources-heading govuk-heading-s govuk-!-margin-bottom-1">Sources</h3>
      <div class="rbds-display-flex-from-desktop">
        <ol class="rb-footnote-list govuk-!-margin-bottom-0">
          {% set seen_docs = [] %}
          {% for citation in citations %}
            {% if citation.display_name not in seen_docs %}
              <li class="govuk-!-margin-bottom-0">
                <a class="iai-chat-bubbles__sources-link govuk-link" id="footnote-{{ message.id }}-{{ loop.index }}" href="{{ citation.internal_url }}">{{ citation.display_name }}</a>
              </li>
              {% set _ = seen_docs.append(citation.display_name) %}
            {% endif %}
          {% endfor %}
        </ol>
      </div>
      <br/>
    {% endif %}

    {% set seen_files = [] %}
    {% for file in message.selected_files.all() %}
      {% if file.id not in seen_files %}
        <span class="govuk-body rbds-chat-message__document">
          {{ rbds_icon(icon_name="attach-document.svg") }}
          <p>{{ file }}</p>
        </span>
        {% set _ = seen_files.append(file.id) %}
      {% endif %}
    {% endfor %}
  </div>

  {% if message.route %}
    {{ route_display(message.route) }}
  {% endif %}

  {% if message.role == "ai" %}
    <div class="chat-actions-container">
      <feedback-buttons data-id="{{ message.id }}"></feedback-buttons>
      <copy-text data-id="{{ message.id}}"></copy-text>
    </div>
  {% endif %}

</div>
{% endmacro %}
