{% macro govuk_warning(messages) %}
    {% if messages is string %}
        {% set messages = [messages] %}
    {% endif %}

    <div class="govuk-warning-text govuk-warning-text--small">
        {% for message in messages %}
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-padding-bottom-4">
                <span class="govuk-visually-hidden">Warning</span>
                {{ message }}
            </strong>
        {% endfor %}
    </div>
{% endmacro %}
