{% macro iaiDocList(docs, type="complete") %}

    <table class="govuk-table">
        <caption class="govuk-visually-hidden">Document list</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                {% if type=="complete" %}
                <th scope="col" class="govuk-table__header">Expires</th>
                {% else %}
                <th scope="col" class="govuk-table__header">Status</th>
                {% endif %}
                <th scope="col" class="govuk-table__header">Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for doc in docs %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ doc.file_name }}</td>
                    <td class="govuk-table__cell">{% if type=="complete" %}
                        {{ doc.expires | humanise_expiry }}{% else %}
                        <file-status data-id="{{ doc.id }}" data-status="{{ doc.get_status_text() }}">{{ doc.get_status_text() }}</file-status>
                        {%endif %}
                    </td>
                    
                    <td class="govuk-table__cell">
                        <a class="govuk-body govuk-link--no-visited-state" role="button" href="{{ url('remove-doc', doc.id) }}">
                            Remove
                            <span class="govuk-visually-hidden">{{ doc.name }}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endmacro %}
