show-more {
  padding: 8px;
  display: flex;
}

.show-more-link {
  --show-more-link-color: var(--color-link-text);

  cursor: pointer;
  color: var(--show-more-link-color);
}

// To be removed
#show-more-div {
  padding: 8px;
  display: flex;
}
