.side-panel {
  background-color: var(--color-background-grey);
  position: sticky;
  top: 111px;
  bottom: 0;
  z-index: 100;
  overflow-y: clip;

  .side-panel-heading {
    color: var(--color-text);
    text-decoration: none;
    padding: 8px 0 0 8px;
    border-top: 2px solid var(--color-border);
  }

  .side-panel-heading-button {
    border-top: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 0.1em;
    }
  }

  .recent-chats {
    max-height: 316px;

    .chat-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .your-documents {
    max-height: 330px;
  }
}
