.rbds-banner {
  background-color: var(--color-background);
  color: var(--color-text-secondary);
  padding-bottom: 3rem;
  padding-top: 2.75rem;

  & * {
    color: var(--color-text-secondary);
  }

  & .govuk-link:any-link {
    color: var(--color-text-secondary);
  }

  & .govuk-link:focus {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

.rbds-banner__links {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.rbds-banner__button {
  background-color: var(--color-background) !important;

  &:hover {
    color: var(--color-text-secondary) !important;
    filter: brightness(0.9);
  }
}

.rbds-environment-banner {
  background-color: #ffbf47;
  color: var(--color-text);
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  text-align: center;
  margin-bottom: 0;
}
