.rbds-banner {
  --banner-text-color: var(--color-text-secondary);
  --banner-background-color: var(--color-background);

  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  padding-bottom: 3rem;
  padding-top: 2.75rem;

  & * {
    color: var(--banner-text-color);
  }

  & .govuk-link:any-link {
    color: var(--banner-text-color);
  }

  & .govuk-link:focus {
    background-color: var(--banner-background-color);
    color: var(--banner-text-color);
  }

  &--full-width {
    width: 100vw;
    left: 50%;
    position: relative;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.rbds-banner--brand {
  --banner-text-color: var(--color-text-secondary);
  --banner-background-color: var(---color-background);
}


.rbds-banner--neutral {
  --banner-text-color: color: var(--color-text);
  --banner-background-color: var(--redbox-light-grey);
}

.rbds-banner__links {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.rbds-environment-banner {
  background-color: var(--redbox-orange);
  color: var(--color-text);
  font-size: var(--font-size-xs);
  padding: 0.25rem 1rem;
  text-align: center;
  margin-bottom: 0;
}

.rbds-tools-banner {
  background-color: var(--redbox-light-red);
  color: var(--color-text);
}
