.rbds-card {
  //color: var(--color-side-panel-link-text);
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  padding-bottom: 10px;

  &--no-border {
    border: none;
  }
  border-radius: var(--border-radius);
}

/* Card variants */
.rbds-card--block {
  max-height: 230px;
}

// .rbds-card--conversations {
//   max-height: 204px;
// }

// .rbds-card--documents {
//   max-height: 334px;
// }

/* Header */
.rbds-card__header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
  padding-bottom: 10px;
}

/* Content */
.rbds-card__content {
  display: flex;
}

/* Lists */
.rbds-card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--list-item-gap) 0;
  display: flex;
  flex-direction: column;
}

/* Items */
.rbds-card__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
  gap: 10px;
}

/* Item internals (generic helpers) */
.rbds-item-label {
  flex: 1;
  min-width: 0;
  // line-height: 1.4;
  max-width: 30ch;
}

.rbds-item-actions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rbds-item-link {
  color: var(--color-side-panel-link-text);

  &:hover {
    color: var(--color-link-text-hover);
  }
}

.rbds-item-checkbox__input {
    color: black;
}
