.rbds-chat-title {
  display: block;
  justify-content: space-between;

}

.rbds-chat-title__heading-container-inner {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.rbds-chat-title__heading {
  line-height: 1.3;
  margin-bottom: 0;
}

.rbds-chat-title__input {
  border: 1px solid #60697b;
  border-radius: 0.25rem;
  font-weight: 700;
  max-width: none;
  padding: 0.375rem;
  width: 100%;
}

.rbds-chat-title__actions {
  display: flex;
  gap: 15px;
  min-width: fit-content;
}
