rbds-chat-message {
  scroll-margin-bottom: 10rem;
}

.rbds-chat-message__text {
  word-break: break-word;
  // padding-top: .5rem;
  font-size: 16px;
  line-height: 1.5rem;

  &.code {
    display: block;
    overflow-x: auto;
  }

  &.li {
    padding: 0;
  }

  &.table {
    border-collapse: collapse;
    width: 100%;
  }

  &.th, &.td {
    text-align: left;
    border: 1px solid var(--color-border-dark);
    padding: .25rem;
  }
}

.rbds-chat-message__container {
  // margin-top: -1rem;
  padding-bottom: 32px;
  gap: var(--chat-message-gap);
}
