.rbds-list-row {
    --list-row-spacing: var(--text-spacing, 5px);
    --list-row-text-color: var(--color-link-text);
    --list-row-icon-color: var(--color-link-text);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;
    height: calc(20px + var(--list-row-spacing)*2);
    padding-top: var(--list-row-spacing);
    padding-bottom: var(--list-row-spacing);

    color: var(--list-row-text-color);

    a {
        color: inherit !important;
    }

    &--selected {
        --list-row-text-color: var(--color-text);
        --list-row-icon-color: var(--color-text);

        &::before {
            content: "";
            height: 20px;
            border-left: 1px solid var(--color-text);
            padding-left: 5px;
        }
    }
}
