rbds-loading-message {
  display: inline;
}

.rbds-loading-ellipsis,
.rbds-loading-text {
  font-style: italic;
  margin-top: 1rem;
  display: inline;
}

@keyframes ellipsis {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}

.rbds-loading-ellipsis::after {
  content: '';
  animation: ellipsis 1.5s steps(3, end) infinite;
}
