rbds-message-input {
    [contentEditable=true]:empty:not(:focus):before {
        content: attr(data-text)
    }

    .rbds-message-input {
        font-size: 16px;
        font-size: 1rem;
        min-height: 6em;
        margin-bottom: 0;
        padding: 4px;
        font-family: var(--font-family-primary);

        &:focus {
            outline: 4px solid #fd0;
            outline-offset: 0;
            box-shadow: inset 0 0 0 2px
        }
    }

    @media (min-width:40.0625em) {
        .rbds-message-input {
            white-space: pre-wrap;
        }
    }

    @media print {
        .rbds-message-input {
            font-size: 14pt;
            line-height: 1.25
        }
    }
}
