.rbds-side-panel {
  background-color: var(--color-background-light-blue);
  padding-left: 15px;
  padding-right: 30px;

  --color-side-panel-text: var(--color-text);
  --color-side-panel-link-text: var(--color-link-text);
  --checkbox-label-color: var(--color-side-panel-link-text);
}

/* Header */
.rbds-side-panel__header {
  display: flex;
  align-items: center;
  width: var(--side-panel-width);
  color: var(--color-side-panel-text);
  margin-left: -15px;

  header {
    border: initial;
  }
}

.rbds-side-panel__title {
  font-size: var(--font-size-s);
}

/* Footer */
.rbds-side-panel__footer {
  margin-top: auto;
  padding: 20px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
