.rbds-side-panel {
  --color-side-panel-text: var(--color-text);
  --color-side-panel-link-text: var(--color-link-text);
  --divider-container-padding: 15px;
  --divider-thickness: 2px;

  background-color: var(--color-background-grey);
  position: sticky;
  top: 111px;
  bottom: 0;
  z-index: 100;
  overflow-y: clip;

  .side-panel-heading {
    color: var(--color-side-panel-text);
    text-decoration: none;
    padding: 8px 0 0 8px;
  }

  .side-panel-heading-button {
    border-top: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 0.1em;
    }
  }

  .recent-chats {
    max-height: 316px;
    color: var(--color-side-panel-link-text);

    .chat-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .chat-list-item {
        display: contents;

        &.selected {
          --color-side-panel-link-text: var(--color-side-panel-text);
          --color-icon-light-foreground: var(--color-side-panel-text);

          color: var(--color-side-panel-text);
        }
      }
    }
  }

  .your-documents {
    max-height: 334px;
    margin: 0;
    color: var(--color-side-panel-link-text);
  }

  .rbds-document-add-icon {
    --document-add-icon-foreground-color: var(--color-side-panel-text);
    --document-add-icon-foreground-hover-color: var(--color-side-panel-link-text);
  }

  .side-panel-item-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px;
    width: 100%;

    .side-panel-item-actions {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      z-index: 1;
    }

    .item-checkbox-container {
      flex-wrap: nowrap;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      min-width: 0;

      .item-checkbox-label {
        line-height: 1.4;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        max-width: 18ch; // 1ch to account for ellipses
        flex: 1;
        padding: 0;
      }
    }

    .item-text-container {
      gap: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      box-sizing: border-box;
      color: var(--color-side-panel-link-text);
      padding-bottom: 3px;
    }

    .item-text-input {

      input {
        background-color: transparent;
        border: 1px solid var(--color-border);
        padding: 0.375rem;
        width: 100%;
      }
    }

    .item-link {
      color: var(--color-side-panel-link-text);

      &:hover {
        color: var(--color-link-text-hover);
      }
    }
  }
}
