<template id="uploaded-file-template">
    <div class="uploaded-file-wrapper" data-id="">
        <div class="uploaded-file" contenteditable="false" aria-readonly="true" tabindex="-1">
            <span class="file-icon">📁</span>
            <span class="file-name" title=""></span>
            <a class="action-link govuk-link govuk-link--no-visited-state govuk-link--no-underline">Remove</a>
        </div>
        <div class="upload-progress">
            <div class="upload-progress-text">Processing...</div>
            <div class="upload-progress-fill-wrapper">
                <div class="upload-progress-fill" data-status="processing" style="--progress-width: 100%;"></div>
                <div class="upload-progress-fill-text">0</div>
            </div>
        </div>
    </div>
</template>
