rbds-uploaded-files {
    display: flex;
    user-select: none;

    .uploaded-files-wrapper {
        white-space: normal;

        .uploaded-files {
            overflow: scroll;
            align-items: center;
            padding: 2px;
            gap: 4px;
        }

        .uploaded-files[contenteditable="false"] {
            pointer-events: auto;
        }
    }
}
