{% extends "skills/base-skill-info.html" %}

{% block skill_description %}
    The Submissions Checker skill uses pre-set 'Golden Rules' to help you assess whether your draft submission meets the criteria for submission.
{% endblock %}

{% block skill_when_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>If you are on your first draft and want to test whether you’re on the right track.</li>
        <li>If you want detailed feedback on a draft before sending it your G6/G7.</li>
        <li>Final checks before sending your Submission.</li>
    </ul>
{% endblock %}

{% block skill_how_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Upload your submission draft and ask for feedback.</li>
        <li>The skill will give you detailed feedback and scoring on the Golden Rules, and narrative flow.</li>
    </ul>
{% endblock %}

{% block skill_document_guidance %}
    <p class="govuk-body-s govuk-!-padding-top-5 rbds-push-bottom">
        <strong>note: </strong>you can add additional documentation in the skill,
        such as important ministerial context or prior example submissions.
    </p>
{% endblock %}
