<div class="feedback-form" role="group"
     aria-labelledby="feedback-form-title-{{ message_id }}">

    <span class="govuk-caption-s">To help us with our responses, we'd like to know more</span>
    <h3 id="feedback-form-title-{{ message_id }}"
        class="govuk-heading-s" tabindex="-1" data-autofocus>
        Why did you choose this rating?
    </h3>

    <form hx-post="{{ url('chat-message-feedback', message_id=message_id) }}"
          hx-target="#feedback-{{ message_id }}"
          hx-swap="innerHTML">
        {{ csrf_input }}

        {# Only ever the negative path. #}
        <input type="hidden" name="is_positive" value="false">

        {% if form.non_field_errors() %}
            <div class="govuk-error-summary" role="alert" tabindex="-1">
                {% for error in form.non_field_errors() %}
                    <p class="govuk-error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="govuk-form-group{% if form.reason.errors %} govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">Select all that apply</legend>
                {% for error in form.reason.errors %}
                    <p class="govuk-error-message">{{ error }}</p>
                {% endfor %}
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    {% for value, label in form.fields['reason'].choices %}
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input"
                                   type="checkbox"
                                   id="reason-{{ message_id }}-{{ value }}"
                                   name="reason"
                                   value="{{ value }}"
                                   {% if form['reason'].value() and value in form['reason'].value() %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label ids-text-s govuk-!-padding-0"
                                   for="reason-{{ message_id }}-{{ value }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group{% if form.detail.errors %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-!-margin-bottom-3" for="detail-{{ message_id }}">
                Can you tell us more?
            </label>
            <span class="govuk-caption-s ">Don't include any personal information, like your name or email address</span>
            {% for error in form.detail.errors %}
                <p class="govuk-error-message">{{ error }}</p>
            {% endfor %}
            <textarea class="govuk-textarea govuk-!-margin-top-3"
                      id="detail-{{ message_id }}"
                      name="detail"
                      rows="3">{{ form['detail'].value() or "" }}
            </textarea>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button">Send feedback</button>
            <button type="button"
                    class="govuk-button govuk-button--secondary"
                    hx-get="{{ url('chat-message-feedback-buttons', message_id=message_id) }}"
                    hx-target="#feedback-{{ message_id }}"
                    hx-swap="innerHTML"
                    hx-params="none">
                I'd prefer to not say
            </button>
        </div>
    </form>
</div>
