<fieldset class="govuk-fieldset feedback-button-container">
    <legend class="govuk-body-s feedback__heading">
        Did you get what you needed from this response?
    </legend>

    <div class="feedback-actions">
        <button type="button"
                class="feedback-button govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                hx-post="{{ url('chat-message-feedback', message_id=message_id) }}"
                hx-vals='{"is_positive": "true"}'
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#feedback-{{ message_id }}"
                hx-swap="innerHTML">
            Yes
        </button>

        <button type="button"
                class="feedback-button govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                hx-post="{{ url('chat-message-feedback', message_id=message_id) }}?show_form=true"
                hx-vals='{"is_positive": "false"}'
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#feedback-{{ message_id }}"
                hx-swap="innerHTML">
            Not quite
        </button>
    </div>
</fieldset>
