:root {
    --md-primary-fg-color: #FE6D6A;
}

.md-content {
    --md-typeset-a-color: #FE6D6A;
}

img[src*="#small-logo"] {
    width: 150px;
    height: 100px;
    display: block;
    margin: auto;
}
