.govuk-warning-text--small {
    .govuk-warning-text__icon {
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 24px;
        min-width: 24px;
        height: 24px;
        font-size: 20px;
        line-height: 16px;
        display: inline-flex;
        min-height: 24px;
        margin-top: 0;
    }

    .govuk-warning-text__text {
        font-size: var(--font-size-s);
    }
}
