@use "../../../node_modules/govuk-frontend/dist/govuk/index" as govuk;

.govuk-footer--min-width-border {
    border-color: var(--govuk-footer-border-color, var(--govuk-brand-colour));
    border-width: var(--govuk-footer-border-width, 10px);
}
