.rbds-no-hover {
  pointer-events: none;
}

// Can be moved to its own component if drag/drop functionality gets reused
.rbds-drop-zone.drag-over {
  border-color: var(--redbox-blue);
  border-width: 3px;
}

.rbds-align-middle {
  vertical-align: middle;
}

.rbds-align-middle {
  vertical-align: middle;
}

.rbds-flex-align-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

// Leave a gap for the header when navigating to page sections
[id] {
  scroll-margin-top: var(--header-height);
}

.rbds-border {
  border: 0.5px solid var(--color-border);
  border-radius: var(--border-radius);
}

.rbds-push-bottom {
  margin-top: auto;
}

.rbds-text-ellipses {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rbds-min-width-0 {
  min-width: 0;
}

.rbds-width--full {
  width: 100%;
}

.rbds-width--max-content {
  width: max-content;
}

.rbds-transparent {
  background-color: transparent;
}

.rbds-no-underline {
  text-decoration: none;
}

.rbds-justify-content-center {
  display: flex;
  justify-content: center;
}

.rbds-fit-content-width {
  min-width: fit-content;
}

.rbds-blur {
  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--color-background-inactive) !important;
    backdrop-filter: blur(3px);
    pointer-events: none;
    z-index: 800;
  }
}
