{% extends "tools/base-tool-info.html" %}

{% block tool_description %}
    The Invest Lens tool provides investment advisers and officials with a briefing through quick, comprehensive access to company information and DBT relationship data from Data Hub, searching the web and built-in investment documents. You can add more specific and additional information for the tool to use by uploading your own documents.
{% endblock %}

{% block tool_when_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>If you need to prepare a briefing for a meeting with a company at short notice.</li>
        <li>If you want comprehensive company information from DBT and external investment sources.</li>
        <li>If you need to retrieve investment project details or account management objectives by time period or geography.</li>
        <li>If you're attending conferences or events and need quick access to multiple company relationships.</li>
    </ul>
{% endblock %}

{% block tool_how_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>specify the company of interest and any details you are interested in (such as date range or geography)</li>
        <li>you can refine searches, and specify your target audience (e.g., ministerial brief, internal meeting)</li>
        <li>the tool will automatically search across companies, subsidiaries, and related entities in Data Hub</li>
        <li>where relevant, the tool will also use it’s built-in investment documents and a web search to pull contextual information and relevant news.</li>
        <li>for a more holistic review and where information exists in sharepoint or behind subscriptions, you can upload additional documents to provide the tool with more context, such as previous briefings or notes</li>
        <li>the tool will provide comprehensive summaries in the form of a ministerial briefing with citations linking back to original Data Hub records, online sources and documents</li>
    </ul>
{% endblock %}

{% block tool_document_guidance %}
    <p class="govuk-body-s govuk-!-padding-top-5 ids-push-bottom">
        <strong>note: </strong>you can upload additional documents to the chat, such as previous briefings, notes, or other company-related materials to enhance context.
    </p>
{% endblock %}
