{% extends "tools/base-tool-info.html" %}

{% block tool_description %}
    <h2 class="govuk-heading-s">
        Invest Lens combines Data Hub and external sources to help you build briefings,
        join up company and sector insights, and develop strong UK investment hooks
    </h2>

    <p class="govuk-body-s govuk-!-margin-bottom-0">
        It pulls company data and interaction records from Data Hub,
        along with web search results and built-in investment documents.
    </p>

    <h2 class="govuk-heading-s">Invest Lens is designed mainly for investment advisers and officials</h2>

    <p class="govuk-body-s">
        It can search across parent companies, subsidiaries, and related entities.
        This means users get a more complete picture without needing to look things up manually.
        It can also generate briefings in formats familiar to investment advisers.
    </p>
{% endblock %}

{% block tool_when_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>you need to prepare a briefing at short notice</li>
        <li>you're conducting exploratory or early-stage research - it helps you bring together information on companies or sectors all in one place</li>
        <li>you want to brainstorm or refine investment hooks using existing proposition documents</li>
        <li>you need to retrieve investment project details or account management objectives by time period or geography</li>
        <li>you're attending conferences or events and need quick access to multiple company relationships</li>
    </ul>
{% endblock %}

{% block tool_how_to_use %}
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>specify the company of interest and any parameters (such as date range or geography) </li>
        <li>refine your search terms</li>
        <li>specify your target audience (for example, ministerial brief, internal meeting)</li>
        <li>add more context and additional information by uploading your own documents. For example, information in SharePoint or behind subscriptions</li>
    </ul>
{% endblock %}

{% block tool_additional_content %}
    <h3 class="govuk-heading-s govuk-!-margin-top-5">How the tool works</h3>
    <p class="govuk-body-s">The tool will:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>automatically search across companies, subsidiaries, and related entities in Data Hub</li>
        <li>(where relevant) use its built-in investment documents and a web search to pull contextual information and relevant news</li>
        <li>provide comprehensive research summaries or briefings in a format you choose, for example a ministerial briefing</li>
        <li>give you clear citations linking back to original Data Hub records, online sources and documents</li>
    </ul>
{% endblock %}

{% block tool_document_guidance %}
    <p class="govuk-body-s">It uses the following documents to build briefings:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>Data Hub company records</li>
        <li>briefing templates specific to investment contexts (maintained by admins)</li>
        <li>built-in investment documents (maintained by admins)</li>
    </ul>
{% endblock %}
