.govuk-buttonx {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 0 16px;
  padding: 8px 12px 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none
}

@media (min-width:40.0625em) {
  .govuk-buttonx {
    // margin-bottom: 40px;
    width: auto
  }
}

.govuk-buttonx:active,
.govuk-buttonx:hover,
.govuk-buttonx:link,
.govuk-buttonx:visited {
  color: #fff;
  text-decoration: none
}

.govuk-buttonx::-moz-focus-inner {
  padding: 0;
  border: 0
}

.govuk-buttonx:hover {
  background-color: #005a30
}

.govuk-buttonx:active {
  top: 4px
}

.govuk-buttonx:focus {
  border-color: #fd0;
  outline: 3px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #fd0
}

.govuk-buttonx:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -8px;
  left: -4px;
  background: rgba(0, 0, 0, 0)
}

.govuk-buttonx:active:before {
  top: -4px
}

.govuk-button--secondaryx {
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191
}

.govuk-button--secondaryx,
.govuk-button--secondaryx:active,
.govuk-button--secondaryx:hover,
.govuk-button--secondaryx:link,
.govuk-button--secondaryx:visited {
  color: #0b0c0c
}

.govuk-button--secondaryx:hover {
  background-color: #dbdad9
}

.govuk-button--secondaryx:hover[disabled] {
  background-color: #f3f2f1
}

.govuk-button--secondaryx[disabled=disabled], .govuk-button--secondaryx:disabled {
  opacity: 50%;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}

.govuk-header__product-namex {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.875rem;
  line-height: 1;
  display: inline-table
}

// Revert i.ai design system link color overrides
.govuk-link:link,
.govuk-link:visited {
  color: revert;
}

// Override i.ai min-height calc for main element
main,
body {
  min-height: 0 !important;
}
